* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h3,
h4,
a,
li {
  font-family: Arial, sans-serif;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #4b6477;
  line-height: 1.6;
}

body {
  background-color: #d4ebec;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

.sidebarContainer {
  height: 100vh;
  display: flex;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
}

.sidebarIcon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
