* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d4ebec;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebarContainer {
  height: 100vh;
  display: flex;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
}
