.minutescontainer {
  width: 770px;
  display: flex;
  background-color: #fff;
  border-radius: 18px;
  margin: 20px;
  margin-left: 10px;
  margin-right: 36px;
  padding: 19px 10px;
  box-shadow: 1px 2px 11px 0px rgba(92, 121, 143, 0.52);
}
