.background {
  height: 100%;
  display: flex;
  background-color: #6dbbff;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
