.background {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: 2px solid #eeeeee;
  gap: 18px;
  text-align: center;
}

.under_Icon {
  margin-top: auto;
}

.no_Img {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid #eeeeee;
}
