.chapterlistcontainer {
  width: 365px;
  background-color: #fff;
  margin: 20px;
  margin-left: 36px;
  padding: 19px 10px;
  border-radius: 18px;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.chapterlistcontainer h3 {
  margin: 0 0 10px 0;
  padding: 0 20px;
}

.chapterlistcontainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chapterlistcontainer li {
  margin: 5px 0;
  padding: 3px 20px;
  font-size: 22px;
  border-radius: 10px;
}

.chapterlistcontainer li:hover {
  background-color: #abd6d8;
  color: #fff;
}
